<ng-template #other_content>
  <div class="text-center font-weight-bold my-5">choisir le service !!!</div>
</ng-template>
<app-navbar></app-navbar>
<div class="container mw-100 " >

<div class="row">
<div class="col-sm-2 my-5">
  <app-menu></app-menu>
</div>
<div class="col-sm-10 my-5">

<div class="container" id="main-container">

  <div class="col-xs-12 ">
    <nav>
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a [ngClass]="s==currentService?'active':''" *ngFor="let s of serviceList" class="nav-item nav-link"
           id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
           aria-selected="false" (click)="onGetProcessus(s)">{{s.name}}</a>
        <!--          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Service2</a>-->
        <!--          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Service3</a>-->
        <!--          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Service4</a>-->
      </div>
    </nav>

    <div *ngIf="choix;else other_content">


      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

        <div><h5>Liste des processus :</h5><br></div>
        <div class="row mx-0  ">
          <!--          <div *ngIf="processusList; else log" >-->
          <div *ngFor="let p of processusList">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{p.name}}</h5>
                  <p class="card-text">{{p.description}}.</p>
                  <a href="#" class="btn btn-primary btn-sm">Go somewhere</a>

                  <div class="float-right btn-group btn-group-sm">
                    <a class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                       data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                       data-original-title="Delete"><i class="fa fa-times"></i></a>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-md-3 mx-0 px-0 ">
            <div class="card border-0 px-0">
              <div class="card-body d-flex justify-content-center text-center  ">
                <button (click)="onOpenModalAddProcessus()" class="btn border-primary border-8 rounded-circle"
                        style="height: 89px;"><i class="fa fa-plus fa-5x  " style="color: Dodgerblue;"></i></button>
              </div>
            </div>
          </div>

          <!--          </div>-->
        </div>


      </div>

    </div>

  </div>
</div>





<!--Modal add user-->
<div class="modal fade" id="addProcessusModal" tabindex="-1" role="dialog" aria-labelledby="addProcessusModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProcessusModalLabel">Ajouter Processus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddProcessus(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name"
                   required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" ngModel name="description" class="form-control" id="description" placeholder="description"
                   required>
          </div>
          <div class="form-group">
            <label for="FormControlSelect1">Service </label>
            <select   name="service" [(ngModel)]="service"  class="form-control" id="FormControlSelect1" >
              <option selected disabled>selectionner le service </option>
              <option *ngFor="let s of serviceList" [ngValue]="s">{{s.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="FormControlSelect1">Pilote de processus </label>
            <select   name="service" class="form-control" id="FormControlSelect2" >
              <option selected disabled>selectionner le pilote </option>
              <option  ></option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-processus-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
