

<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
<!--      <nav>-->
<!--        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">-->
<!--          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"-->
<!--             aria-controls="nav-home" aria-selected="true">Role1</a>-->
<!--          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"-->
<!--             aria-controls="nav-profile" aria-selected="false">Role2</a>-->
<!--          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"-->
<!--             aria-controls="nav-contact" aria-selected="false">Role3</a>-->
<!--          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"-->
<!--             aria-controls="nav-about" aria-selected="false">Role4</a>-->
<!--        </div>-->
<!--      </nav>-->
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

        <!--<div class="">-->
        <!--  <ul  class="list-group">-->
        <!--    <li  *ngFor="let v of users" class="list-group-item clickable"  >-->
        <!--      {{v?.firstName}}-->
        <!--    </li>-->
        <!--  </ul>-->
        <!--</div>-->





        <div class=" container " id="main-container">
          <div class="table-responsive ">
            <div class="table-wrapper ">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-5">
                    <h2>Gestion des utilisateurs</h2>
                  </div>
                  <div class="col-sm-7">

                    <a (click)="onOpenModalAddUser()" class="btn btn-secondary"><i class="material-icons">&#xE147;</i>Add
                      New User <span></span> </a>
                    <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i>
                      <span>Export to Excel</span></a>
                  </div>
                </div>
              </div>

             <div class="search-container">
               <mat-form-field appearance="fill" class="mx-3">
                 <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
               </mat-form-field>

               <mat-form-field appearance="fill">
                 <mat-label>Select processus</mat-label>
                 <mat-select [(ngModel)]="processusSelected" (ngModelChange)="onGetUsers($event)">
                   <mat-option *ngFor="let p1 of processusList" [value]="p1" >
                     {{p1.name}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>

<!--               <mat-form-field appearance="fill" class="mx-3">-->
<!--                 <mat-select >-->
<!--                   <mat-option  *ngFor="let p1 of processusList"   >{{p1.name}}</mat-option>-->
<!--                 </mat-select>-->
<!--               </mat-form-field>-->
             </div>

              <table mat-table [dataSource]="dataSource" class=" table table-striped table-hover  mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="firstName">
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> firstName </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastName">
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> lastName </th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <!-- Weight Column -->
<!--                <ng-container matColumnDef="weight">-->
<!--                  <th mat-header-cell *matHeaderCellDef> Weight </th>-->
<!--                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
<!--                </ng-container>-->

                <!-- Delete Column -->


                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="roles">
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> Role </th>
                  <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
                </ng-container>
<!--                <ng-container matColumnDef="processus">-->
<!--                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> Processus </th>-->
<!--                  <td mat-cell *matCellDef="let element"> {{element.processus.name}} </td>-->
<!--                </ng-container>-->

                <ng-container matColumnDef="edit">
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> Edit </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="onOpenModalUser(element,'edit')" mat-icon-button color="primary" class="settings" aria-label="Example icon button with a edit icon">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="delete" >
                  <th class="font-weight-bold text-dark" mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="onOpenModalUser(element,'delete')" mat-icon-button color="danger" aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



              </table>
              <mat-paginator #paginator
                             [pageSize]="6"
                             [pageSizeOptions]="[6, 10, 20, 40]"
              >
              </mat-paginator>






<!--                            <table class="table table-striped table-hover">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th>#</th>-->
<!--                  <th>Name</th>-->
<!--                  <th>Email</th>-->
<!--                  <th>Role</th>-->
<!--                  <th>Status</th>-->
<!--                  <th>Action</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->

<!--                <tr *ngFor="let user of users">-->
<!--                  <td>1</td>-->
<!--                  &lt;!&ndash;          <img src="{{user?.imageUrl}}"  class="img-fluid rounded-circle w-25 h-25"  alt="Avatar">&ndash;&gt;-->
<!--                  <td><a href="#"> {{user?.firstName + ' ' + user?.lastName}}</a></td>-->
<!--                  <td>{{user.email}}</td>-->
<!--                  <td >{{user.roles}}</td>-->

<!--                  <td><span class="status text-success">&bull;</span> Active</td>-->
<!--                  <td>-->
<!--                    <a (click)="onOpenModalUser(user,'edit')" class="settings " title="Settings"-->
<!--                       data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>-->
<!--                    <a (click)="onOpenModalUser(user,'delete')" class="delete" title="Delete" data-toggle="tooltip"><i-->
<!--                      class="material-icons">&#xE5C9;</i></a>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->









<!--              <div class="clearfix">-->
<!--                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
<!--                <ul class="pagination">-->
<!--                  <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--                  <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--                  <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--                  <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--                  <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--                  <li class="page-item"><a href="#" class="page-link">5</a></li>-->
<!--                  <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
<!--                </ul>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal add user-->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
          <div class="form-group">
            <label for="firstname">FirstName</label>
            <input type="text" [(ngModel)]="user1.firstName" name="firstname" class="form-control" id="firstname" placeholder="FirstName"
                   required>
          </div>

          <div class="form-group">
            <label for="lastname">LastName</label>
            <input type="text" [(ngModel)]="user1.lastName" name="lastname"  class="form-control" id="lastname" placeholder="LastName"
                   required>
          </div>
          <div class="form-group">
            <label for="username1">Username</label>
            <input type="text" [(ngModel)]="user1.username" name="username" class="form-control" id="username1" placeholder="username"
                   required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="user1.password" name="password" class="form-control" id="password" placeholder="Password"
                   required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="user1.email" name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="FormControlSelect">ROLE </label>
<!--            probleme-->
            <select  name="roles" [(ngModel)]="user1.roles"  class="form-control" id="FormControlSelect" >
              <option selected disabled>choisie le role </option>
              <option *ngFor="let r of rolesList" [ngValue]="r">{{r}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="FormControlSelect1">Processus </label>
            <select   name="processus" [(ngModel)]="user1.processus"  class="form-control" id="FormControlSelect1" >
              <option selected disabled>selectionner le service </option>
              <option *ngFor="let p of processusList" [ngValue]="p">{{p.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" [(ngModel)]="user1.profileImageUrl" name="profileImageUrl" class="form-control" id="image" placeholder="image"
                   required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--modal edit user-->


<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">Edit
          Employee {{editUser?.firstName + ' ' + editUser?.lastName}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="firstName">FirstName</label>
            <input type="text" ngModel="{{editUser?.firstName}}" name="firstname" class="form-control"
                   aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="lastName">LastName</label>
            <input type="text" ngModel="{{editUser?.lastName}}" name="lastname" class="form-control"
                   aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editUser?.email}}" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="username">username</label>
            <input type="text" ngModel="{{editUser?.username}}" name="username" class="form-control" id="username"
                   placeholder="User Name">
          </div>

<!--          <div class="form-group">-->
<!--            <label for="imageUrl">Image URL</label>-->
<!--            <input type="text" ngModel="{{editUser?.imageUrl}}" name="imageUrl" class="form-control"-->
<!--                   placeholder="Image URL">-->
<!--          </div>-->

          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete user -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{deleteUser?.firstName + ' ' + deleteUser?.lastName}}? </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteUser(deleteUser.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<ng-template #content let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title">New Friend</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="firstname">Firstname</label>-->
<!--        <div class="input-group">-->
<!--          <input id="firstname" class="form-control" >-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
<!--  </div>-->
<!--</ng-template>-->


<!-- Button trigger modal -->


<!-- Modal -->
