<!DOCTYPE html>
<html lang="en">
<head>
  <title>Application Stage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/photos/logo3.jpg" width="35" height="35" class="d-inline-block align-top" alt="">
    OCP
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="#">Utillisateur</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button routerLink="/login" class="btn btn-light ms-3" >Login</button>
  </div>
</nav>



<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/hhh" class="navbar-brand" >
      <img src="photos/logo_OCP.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      OCP
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/hhh" class="nav-link active" aria-current="page" >Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addUser" class="nav-link" >Utlisateur</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button routerLink="/login" class="btn btn-light ms-3" >Login</button>
    </div>
  </div>
</nav-->

<div class="container mw-100 " >
  <div class="row">
    <div class="col-sm-2 my-5">
      <ul class="list-group">
        <li  routerLink="/services" class="list-group-item clickable text-center "  >Services</li>
        <li  routerLink="/processus" class="list-group-item clickable text-center" >Processus</li>
        <li  routerLink="/users" class="list-group-item clickable text-center" >Utlisateurs</li>
        <li  routerLink="/documents" class="list-group-item clickable text-center" >Documents</li>
      </ul>
    </div>
    <div class="col-sm-10 my-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" >OCP</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/--">Cinema Réservation</a></li>
      <li><a routerLink="/--">Administration</a></li>
    </ul>
  </div>
</nav-->


</body>
</html>
